# Variable

In [226]:
# Interger variable
age = 16 

# Float vaible
weight = 75.5   # in pounds

# string variable
player_name_name = "Alice"  # both single quote and double quotes are accepted
player_name = 'Alice'  
#player_name = 'Alice"  # we can note combine them
             

# Boolean variable

is_a_boxer=False  

# is_a_model?  not possible as a variable name

### Variable name must start with a letter or underscore   _

In [23]:
_var1=34

In [26]:
1var=34   # variable name starting with number
          # observe the error

SyntaxError: invalid syntax (<ipython-input-26-f35ee90b4a6d>, line 1)

### Variable name is case sensitive

In [283]:
var1=34   # here both are different
VAR1=43

### After the first character variable name may consist of letters, numbers and underscores.

In [284]:
var1____0213 = "python variable"

In [285]:
var1____0213

'python variable'

# Python Indentation

We revisit the indentations.
This is just not you to make annoyed when you encounter the problem.

In [288]:
print("hello")
 print("king")

IndentationError: unexpected indent (<ipython-input-288-6fb7d6a75253>, line 2)

### type function
      A built-in/internal function
      syntax: type(<variable name>)

In [289]:
print(type(age))
print(type(weight))
print(type(player_name))
print(type(is_a_model))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [292]:
age_type=type(age)

In [293]:
print(age_type)

<class 'int'>

In [294]:
#complex data type

cmp=1+2j 
cmp1=complex(3,4)
x=5
y=6
cmp2=complex(x,y)
print(cmp)
print(cmp1)
print(cmp2)

(1+2j)
(3+4j)
(5+6j)

In [295]:
print(type(cmp))

<class 'complex'>

variable objects and there methods
var_object.<tab>  in jupyter notebook displays the corresponding methods and other instatiated variables

In [304]:
age=2550000000000

In [308]:
print(cmp)
print(cmp.conjugate())

(1+2j)
(1-2j)

### bit_length()

In [187]:
print(age.bit_length)

<built-in method bit_length of int object at 0x10e2ec9e0>

In [188]:
print(age.bit_length())

5

In [309]:
distance = 200000000000000000000   # assingning
distance.bit_length()//8

8

In [310]:
distance.bit_length()//8

8

## Try the methods corresponding to each variable type

In [ ]:
age.

In [ ]:
weight.

In [320]:
print(player_name)
player_name.index('c')

Alice

3

In [ ]:
is_a_boxer.

## int, float, str, bool these data types are immutable
what does immutable mean?

In [321]:
# create a variable x and assing some value
x=10
print(type(x))

<class 'int'>

In [322]:
# id function tells us the memory location the variable is linked to
print(id(x))

4532914464

In [323]:
# what happens if x value is changed?
x=x+1
print(id(x))

4532914496

In [203]:
# it has discarded the memory located it first crerated.

# Operators

## Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

## Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

We endup getting boolean variable as output

## Try applying different operators on different types of variables

### integer

In [231]:
age+age

32

In [232]:
age*2

32

In [233]:
age/2

8.0

In [234]:
age%2

0

In [324]:
age == 45

False

In [327]:
print(age)
age > 24

2550000000000

True

### float

In [328]:
weight/2

37.75

In [236]:
weight%3

0.5

In [237]:
weight//4

18.0

In [238]:
weight**2

5700.25

In [247]:
weight == 34

False

### string

In [329]:
player_name + " in wonderland" # observe the space given

'Alice in wonderland'

In [330]:
player_name*2   # its nothing but writing 2 times

'AliceAlice'

In [331]:
player_name/2   # what is the error you endup with?

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [332]:
player_name == 'Alice'

True

In [333]:
player_name == 'Mary'

False

In [334]:
player_name>'a'   # what is it comparing here?

False

In [335]:
# Unicode of the correspondings characters
print(ord('A'))
print(ord('a'))

65
97

In [336]:
'aa'=='aa'

True

In [337]:
'aa'=='ab'

False

In [338]:
'aa' > 'ab'

False

In [339]:
print(ord('a'))
print(ord('b'))

97
98

## Revisiting print function

In jupyter notebook function help can be obtained by using <shift + tab>
for print function by default sep=' '   and end='\n'

In [ ]:
print()

In [340]:
gr1="Hello"
gr2="Python"
gr3="World"

print(gr1)   
print(gr2)
print(gr3)
print(gr1,gr2,gr3) # prints  variables
print(gr1+gr2+gr3) # prints  varibles combined

Hello
Python
World
Hello Python World
HelloPythonWorld

In [341]:
print(gr1+'@'+gr2)

Hello@Python

In [342]:
# tab seperation
print("Hello",end='\t')
print("All")

Hello	All

In [343]:
# new line seperation
print("Hello",end='\n')
print("All")

Hello
All

In [282]:
# Jupyter cell prints only the last statement
"Hello World"
"Welcome Python World"

'Welcome Python World'

In [346]:
print(gr1,gr2,gr3, sep="***")

Hello***Python***World